@using IMS_Library

@inherits PlayerDisplayView

@inject IJSRuntime JSRuntime

<style>
    .playertable > thead > tr > th {
        vertical-align: middle;
    }

    .playertable > tbody > tr > th {
        vertical-align: middle;
    }

    .playertable > tbody > tr > td {
        vertical-align: middle;
    }

    .playerheadicon {
        width: 28px;
        height: 28px;
        background-size: 100%;
        image-rendering: pixelated;
    }

    .linkbutton {
        background: none !important;
        border: none;
        padding: 0 !important;
        color: #23527c;
    }
</style>
@{
    IEnumerable<BanInformation> players = CurrentServer.GetAllBans();
    if (players.Count() == 0)
    {
        <label style="padding-top:3px; font-weight:normal"><i>There are currently no banned players.</i></label>
        return;
    }
}
<table class="playertable table table-striped">
    @{
        bool renderIPs = CurrentServer.SupportsIPs;
        bool renderBans = CurrentServer.SupportsBanning;
        bool renderBanIPs = CurrentServer.SupportsBanningIPs;
        bool renderWhitelist = CurrentServer.SupportsWhitelist;
        bool renderOps = CurrentServer.SupportsOps;
        bool renderKicking = CurrentServer.SupportsKicking;
    }
    <thead>
        <tr>
            <th style="width:32px">
            </th>
            <th>
                Name
            </th>
            <th>
                UUID
            </th>
            @if (renderIPs)
            {
                <th>
                    IP
                </th>
            }
            <th>
                Banned on
            </th>
            <th>
                Banned by
            </th>
            <th>
                Reason
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            List<BanIPTag> banIPs = CurrentServer.GetAllBannedIPs();

        }
        @foreach (BanInformation info in players)
        {
            <tr>
                <td style="width:32px">
                    <div class="playerheadicon" style="background-image:url(@("https://crafatar.com/avatars/" + info.Player.UUID + "?overlay"))">
                    </div>
                </td>
                <th>
                    @info.Player.Username
                </th>
                <td>
                    @info.Player.UUID
                </td>
                @if (renderIPs)
                {
                    <td>
                        @info.Player.IP
                    </td>
                }
                <td>
                    @DateTime.Parse(info.CreatedDate).ToString()
                </td>
                <td>
                    @info.BanSource
                </td>
                <td>
                    @info.Reason
                </td>
                <td style="text-align:right">
                    <div style="display:inline">
                        @{ bool somethingPrevious = false; }
                        @if (renderWhitelist)
                        {
                            somethingPrevious = true;
                            @if (info.Player.IsWhitelisted)
                            {
                                <button class="linkbutton" @onclick="x => UnwhitelistPlayer(info.Player.Username)">Unwhitelist</button>
                            }
                            else
                            {
                                <button class="linkbutton" @onclick="x => WhitelistPlayer(info.Player.Username)">Whitelist</button>
                            }
                        }
                        @if (renderOps)
                        {
                            if (somethingPrevious)
                            {
                                @("|")
                            }
                            somethingPrevious = true;
                            @if (info.Player.PermissionLevel > 0)
                            {
                                <button class="linkbutton" @onclick="x => DeopPlayer(info.Player.Username)">Deop</button>
                            }
                            else
                            {
                                <button class="linkbutton" @onclick="x => OpPlayer(info.Player.Username)">Op</button>
                            }
                        }
                        @if (renderBans)
                        {
                            if (somethingPrevious)
                            {
                                @("|")
                            }
                            somethingPrevious = true;
                            <button class="linkbutton" @onclick="x => UnbanPlayer(info.Player.Username)">Unban</button>
                        }
                        @if (renderBanIPs && !string.IsNullOrEmpty(info.Player.IP))
                        {
                            if (somethingPrevious)
                            {
                                @("|")
                            }
                            somethingPrevious = true;
                            if (banIPs.FindIndex(x => x.ip == info.Player.IP) < 0)
                            {
                                <button class="linkbutton" @onclick="x => BanIP(info.Player.IP)">Ban IP</button>
                            }
                            else
                            {
                                <button class="linkbutton" @onclick="x => UnbanIP(info.Player.IP)">Unban IP</button>
                            }
                        }
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    protected string GetHoursAndMinutesOfTimespan(TimeSpan span)
    {
        string toReturn = "";
        toReturn += span.Minutes == 1 ? "1 minute" : span.Minutes + " minutes";
        if (span.TotalHours > 1)
        {
            if (Math.Round(span.TotalHours) == 1)
            {
                toReturn = "1 hour " + toReturn;
            }
            else
            {
                toReturn = Math.Round(span.TotalHours) + " hours " + toReturn;
            }
        }
        return toReturn;
    }

    protected void BanPlayer(string name)
    {
        CurrentServer.BanPlayer(name, "");
    }

    protected void UnbanPlayer(string name)
    {
        CurrentServer.UnbanPlayer(name);
    }

    protected void BanIP(string ip)
    {
        CurrentServer.BanIP(ip, "");
    }

    protected void UnbanIP(string ip)
    {
        CurrentServer.UnbanIP(ip);
    }

    protected void WhitelistPlayer(string name)
    {
        CurrentServer.WhitelistPlayer(name);
    }

    protected void UnwhitelistPlayer(string name)
    {
        CurrentServer.RemoveWhitelistPlayer(name);
    }

    protected void OpPlayer(string name)
    {
        CurrentServer.OpPlayer(name);
    }

    protected void DeopPlayer(string name)
    {
        CurrentServer.DeopPlayer(name);
    }

    protected void KickPlayer(string name)
    {
        CurrentServer.KickPlayer(name, "");
    }
}
